<?xml version="1.0"?>
<config>
    <modules>
        <Synocom_GiveIt>
            <version>1.0.0</version>
        </Synocom_GiveIt>
    </modules>
    <global>
        <blocks>
            <synocom_giveit>
                <class>Synocom_GiveIt_Block</class>
            </synocom_giveit>
        </blocks>
        <helpers>
            <synocom_giveit>
                <class>Synocom_GiveIt_Helper</class>
            </synocom_giveit>
        </helpers>
        <models>
            <synocom_giveit>
                <class>Synocom_GiveIt_Model</class>
            </synocom_giveit>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <synocom_giveit>
                    <file>giveit.xml</file>
                </synocom_giveit>
            </updates>
        </layout>
    </frontend>
    <default>
        <synocom_giveit>
            <button_settings>
                <button_active>1</button_active>
                <button_color>blue_rect_sm</button_color>
            </button_settings>
        </synocom_giveit>
    </default>
</config>