<?xml version="1.0"?>
<config>
    <modules>
        <GiveIt>
            <version>1.0.0</version>
        </GiveIt>
    </modules>
    <global>
        <blocks>
            <giveit>
                <class>GiveIt_Block</class>
            </giveit>
        </blocks>
        <helpers>
            <giveit>
                <class>GiveIt_Helper</class>
            </giveit>
        </helpers>
        <models>
            <giveit>
                <class>GiveIt_Model</class>
            </giveit>
        </models>
        <resources>
            <giveit_setup>
                <setup>
                    <module>GiveIt</module>
                    <class>GiveIt_Model_Resource_Setup</class>
                </setup>
            </giveit_setup>
        </resources>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <giveit>
                        <type>singleton</type>
                        <class>giveit/observer</class>
                        <method>controllerActionLayoutGenerateXmlBefore</method>
                    </giveit>
                </observers>
            </controller_action_layout_generate_xml_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <giveit>
                        <type>singleton</type>
                        <class>giveit/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </giveit>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_product_collection_load_before>
                <observers>
                    <giveit>
                        <type>singleton</type>
                        <class>giveit/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </giveit>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </global>
    <frontend>
        <routers>
            <giveit>
                <use>standard</use>
                <args>
                    <module>GiveIt</module>
                    <frontName>giveit</frontName>
                </args>
            </giveit>
        </routers>
        <layout>
            <updates>
                <giveit>
                    <file>giveit.xml</file>
                </giveit>
            </updates>
        </layout>
    </frontend>
    <default>
        <giveit>
            <settings>
                <enabled>1</enabled>
                <enabled_api_orders>0</enabled_api_orders>
                <environment>live</environment>
                <debug>0</debug>
            </settings>
            <button_settings>
                <button_active>1</button_active>
                <button_color>white_sm</button_color>
            </button_settings>
        </giveit>
        <payment>
            <giveit_payment>
                <active>0</active>
                <model>giveit/method_giveit</model>
                <order_status>processing</order_status>
                <title>Give.it Payment</title>
            </giveit_payment>
        </payment>
    </default>
</config>
