<?xml version="1.0" encoding="utf-8"?>
<config>
  <tabs>
    <giveit>
      <label>Give.it</label>
      <sort_order>400</sort_order>
    </giveit>
  </tabs>
  <sections>
    <giveit>
      <label>Configuration</label>
      <sort_order>10000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <tab>giveit</tab>
      <groups>
        <installation>
          <label>Installation</label>
          <sort_order>0</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <frontend_type>text</frontend_type>
          <frontend_model>giveit/adminhtml_system_config_form_field_install</frontend_model>
        </installation>
        <help>
          <label>Help</label>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <comment>
            <![CDATA[
            <iframe src="https://shops.give.it/prestashop/support" width="100%" height="600" frameborder="0" scrolling="auto" marginwidth="5" marginheight="5"></iframe>
            ]]>
          </comment>
        </help>
        <settings>
          <label>Settings</label>
          <sort_order>2</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <enabled>
              <label>Enabled</label>
              <sort_order>5</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Here you can disable/enable the button globally</comment>
            </enabled>
            <enabled_api_orders>
              <label>Enable orders in backoffice</label>
              <sort_order>7</sort_order>
              <frontend_type>select</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>This will make orders appear in you backoffice automatically. More info on that topic is here.</comment>
              <source_model>adminhtml/system_config_source_yesno</source_model>
            </enabled_api_orders>
            <public_key>
              <label>Public Key</label>
              <sort_order>10</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Copy the public key from your technical settings in your shops panel.</comment>
            </public_key>
            <private_key>
              <label>Private Key</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Copy the private key from your technical settings in your shops panel.</comment>
            </private_key>
            <data_key>
              <label>Data Key</label>
              <sort_order>30</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <comment>Copy the data key from your technical
                settings in your shops panel.</comment>
              <show_in_store>1</show_in_store>
            </data_key>
            <environment>
              <label>Environment</label>
              <sort_order>40</sort_order>
              <frontend_type>select</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>You should set this to LIVE. If you want to use sandbox contact our helpdesk.</comment>
              <source_model>giveit/system_config_source_environment</source_model>
            </environment>
            <debug>
              <label>Debug</label>
              <sort_order>50</sort_order>
              <frontend_type>select</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Set this to NO unless you need to debug the install.</comment>
              <source_model>adminhtml/system_config_source_yesno</source_model>
            </debug>
          </fields>
        </settings>
        <button_settings>
          <label>Button Settings</label>
          <sort_order>5</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <button_active>
              <label>Active</label>
              <sort_order>10</sort_order>
              <frontend_type>select</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
            </button_active>
            <button_color>
              <label>Logo type</label>
              <sort_order>20</sort_order>
              <frontend_type>select</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <frontend_type>select</frontend_type>
              <comment>This will change the size and color of our Give.it logo inside the button.</comment>
              <source_model>giveit/system_config_source_button_type</source_model>
            </button_color>
          </fields>
        </button_settings>
        <button_position_simple>
          <label>Button Position Settings - Simple Product</label>
          <sort_order>7</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <comment>Select the position for the button for simple products.</comment>
          <fields>
            <position_1>
              <label>Position 1</label>
              <sort_order>5</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Underneath the price.</comment>
            </position_1>
            <position_2>
              <label>Position 2</label>
              <sort_order>10</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Underneath the quantity.</comment>
            </position_2>
            <position_3>
              <label>Position 3</label>
              <sort_order>15</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Underneath the price.</comment>
            </position_3>
            <position_custom>
              <label>Position custom</label>
              <sort_order>20</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </position_custom>
          </fields>
        </button_position_simple>
        <button_position_configurable>
          <label>Button Position Settings - Configurable
            Product</label>
          <sort_order>8</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <position_1>
              <label>Position 1</label>
              <sort_order>5</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Underneath the price in the header.</comment>
            </position_1>
            <position_2>
              <label>Position 2</label>
              <sort_order>10</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Above the price.</comment>
            </position_2>
            <position_3>
              <label>Position 3</label>
              <sort_order>15</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Underneath the price.</comment>
            </position_3>
            <position_4>
              <label>Position 4</label>
              <sort_order>20</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Underneath add to cart.</comment>
            </position_4>
            <position_custom>
              <label>Position custom</label>
              <sort_order>25</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </position_custom>
          </fields>
        </button_position_configurable>
        <delivery_option_1>
          <label>Delivery Option</label>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <name>
              <label>Name</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <country>
              <label>Country</label>
              <sort_order>30</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>
            <price>
              <label>Price</label>
              <sort_order>40</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <tax_percentage>
              <label>Tax Percentage</label>
              <sort_order>60</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>validate-digits</validate>
            </tax_percentage>
          </fields>
        </delivery_option_1>
        <delivery_option_2>
          <label>Delivery Option 2</label>
          <sort_order>20</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
            <fields>
            <name>
              <label>Name</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <country>
              <label>Country</label>
              <sort_order>30</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>
            <price>
              <label>Price</label>
              <sort_order>40</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <tax_percentage>
              <label>Tax Percentage</label>
              <sort_order>60</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>validate-digits</validate>
            </tax_percentage>
          </fields>
        </delivery_option_2>
        <delivery_option_3>
          <label>Delivery Option 3</label>
          <sort_order>30</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
           <fields>
            <name>
              <label>Name</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <country>
              <label>Country</label>
              <sort_order>30</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>
            <price>
              <label>Price</label>
              <sort_order>40</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <tax_percentage>
              <label>Tax Percentage</label>
              <sort_order>60</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>validate-digits</validate>
            </tax_percentage>
          </fields>
        </delivery_option_3>
        <delivery_option_4>
          <label>Delivery Option 4</label>
          <sort_order>40</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <name>
              <label>Name</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <country>
              <label>Country</label>
              <sort_order>30</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>
            <price>
              <label>Price</label>
              <sort_order>40</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <tax_percentage>
              <label>Tax Percentage</label>
              <sort_order>60</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>validate-digits</validate>
            </tax_percentage>
          </fields>
        </delivery_option_4>
        <delivery_option_5>
          <label>Delivery Option 5</label>
          <sort_order>50</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
           <fields>
            <name>
              <label>Name</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <country>
              <label>Country</label>
              <sort_order>30</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>
            <price>
              <label>Price</label>
              <sort_order>40</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <tax_percentage>
              <label>Tax Percentage</label>
              <sort_order>60</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>validate-digits</validate>
            </tax_percentage>
          </fields>
        </delivery_option_5>
        <delivery_option_6>
          <label>Delivery Option 6</label>
          <sort_order>60</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
           <fields>
            <name>
              <label>Name</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <country>
              <label>Country</label>
              <sort_order>30</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>
            <price>
              <label>Price</label>
              <sort_order>40</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <tax_percentage>
              <label>Tax Percentage</label>
              <sort_order>60</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>validate-digits</validate>
            </tax_percentage>
          </fields>
        </delivery_option_6>
        <delivery_option_7>
          <label>Delivery Option 7</label>
          <sort_order>70</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <name>
              <label>Name</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <country>
              <label>Country</label>
              <sort_order>30</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>
            <price>
              <label>Price</label>
              <sort_order>40</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <tax_percentage>
              <label>Tax Percentage</label>
              <sort_order>60</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>validate-digits</validate>
            </tax_percentage>
          </fields>
        </delivery_option_7>
        <delivery_option_8>
          <label>Delivery Option 8</label>
          <sort_order>80</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
           <fields>
            <name>
              <label>Name</label>
              <sort_order>20</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <country>
              <label>Country</label>
              <sort_order>30</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>
            <price>
              <label>Price</label>
              <sort_order>40</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <tax_percentage>
              <label>Tax Percentage</label>
              <sort_order>60</sort_order>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>validate-digits</validate>
            </tax_percentage>
          </fields>
        </delivery_option_8>
      </groups>
    </giveit>
    <payment>
      <groups>
        <giveit_payment translate="label" module="giveit">
          <label>Give.it Payment</label>
          <sort_order>800</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <order_status translate="label">
              <label>New order status</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status_processing</source_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_status>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
          </fields>
        </giveit_payment>
      </groups>
    </payment>
  </sections>
</config>
